nav {
    position: sticky;
    top: 0; /* Stick to the top of the container */
    background-color: #ff69b4; /* Hot pink */
    color: white;
    padding: 1px;
    padding-left: 1%;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace; /* Feminist vibe with a typewriter-style font */
    z-index: 1;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
    transition: transform 0.3s ease; /* Smooth transform transition */
}

nav ul li:hover {
    transform: scale(1.1); /* Slightly enlarge the list item on hover */
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease; /* Smooth color transition */
}

nav ul li a:hover {
    color: #000000; /* Change color to black on hover */
    text-decoration: underline;
}